%h1 Create New User

= form_tag users_path do
  %p 
  = label :user, :email, 'Email Address:'
  = text_field :email, 'email'

  %p 
  = label :user, :encrypted_password, 'User Password:'
  = text_field :user, 'encrypted_password'

  %p 
  = label :user, :first_name, 'First Name:'
  = text_field :user, 'first_name'

  %p 
  = label :user, :last_name, 'Last Name:'
  = text_field :user, 'last_name'

  %p 
  = submit_tag 'Create User'
