/
    Design by Bryant Smith
    http://www.bryantsmith.com
    http://www.aszx.net
    email: templates [-at-] bryantsmith [-dot-] com
    Released under Creative Commons Attribution 2.5 Generic.  In other words, do with it what you please; but please leave the link if you'd be so kind :)

    Name       : A Farewell to Colors
    Description: One column, with top naviagation
    Version    : 1.0
    Released   : 20081230

!!! Strict
%html{xmlns: 'http://www.w3.org/1999/xhtml'}
    %head
        %meta{'http-equiv' => 'Content-Type', content: 'text/html; charset=utf-8'}
        = stylesheet_link_tag 'application', media: "all"
        %link{rel: 'stylesheet', type: 'text/css', href: '/style.css'}
        %title Drake of Conklin

    %body
        %div{id: 'page'}
		
            %div{id: 'header'}
                %h1 Drake of Conklin
                %h2 Delivers your Mail! What more did you expect?
            
            %div{id: 'bar'}
                -if !current_user
                    %div{class: 'link'}= link_to 'Contact Us', contact_path
                    %div{class: 'link'}= link_to 'Job Applications', '#'
                    %div{class: 'link'}= link_to 'Login', sign_in_path
                -else
                    %div{class: 'link'}= link_to 'Logout', signed_out_path
                    %div{class: 'link'}= link_to 'Account Settings', account_settings_path
                    -if current_user.boss_privileges
                        %div{class: 'link'}= link_to 'Create New Employee', create_employee_path

            %div{class: 'contentText'}
                = yield

        %div{id: 'footer'}
            = link_to 'web development', 'http://www.aszx.net'
            by
            = link_to 'bryant smith', 'http://www.bryantsmith.com'
            |
            = link_to 'valid xhtml', 'http://validator.w3.org/check?uri=referer'
            |
            = link_to 'valid css', 'http://jigsaw.w3.org/css-validator'
